
<div class="row gap-20">
  <div class="masonry-item  w-100">
    <div class="row gap-20">
      <!-- # Unresolved Tickets ==================== -->
      <div class='col-md-3'>
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1"><%= t(:unresolved_tickets, :scope => :dashboard) %></h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">
                  <%= @unresolved_ticket_count %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- # In Progress Tickets ==================== -->
      <div class='col-md-3'>
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1"><%= t(:in_progress_tickets, :scope => :dashboard) %></h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">
                  <%= @in_progress_ticket_count %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- # Average Resolution Time ==================== -->
      <div class='col-md-3'>
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1"><%= t(:average_resolution_time, :scope => :dashboard) %></h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">4 hours</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
