<h2>My Alert Settings for <%= @project.name %></h2>

<div class="alert alert-info">
  Your alert settings are set per project. To change your alert settings for other projects switch the project first
</div>

<div id="dataTable_wrapper" class="dataTables_wrapper">
  <div class="dataTables_length" id="dataTable_length">

    <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <br/></br>
  </div>

  <table id="dataTable" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <thead>
    <tr role="row">
      <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 20%;">Type</th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 30%;">Workspace</th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 30%;">Value</th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 10%;">Alerts On</th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 10%;">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @alert_settings.each do |alert_setting| %>
      <tr role="row" class="odd">
        <% if alert_setting.alertable.is_a? Authorization %>
          <td><%= alert_setting.alertable.decorate.name_display %></td>
          <td><%= alert_setting.alertable.name %></td>
          <td><%= alert_setting.slack_email %></td>
          <td><%= alert_setting.alert_display %></td>

        <% elsif alert_setting.alertable.is_a? Contact %>
          <td><%= alert_setting.alertable.type %></td>
          <td></td>
          <td><%= alert_setting.alertable.value %></td>
          <td><%= alert_setting.alert_display %></td>
        <% end %>

        <td><%= link_to 'Edit', edit_project_alert_setting_path(@project, alert_setting),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' } %></td>

      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
  <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><a class="paginate_button previous disabled" aria-controls="dataTable" data-dt-idx="0" tabindex="0" id="dataTable_previous">Previous</a><span><a class="paginate_button current" aria-controls="dataTable" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="dataTable" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="dataTable" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="dataTable" data-dt-idx="4" tabindex="0">4</a><a class="paginate_button " aria-controls="dataTable" data-dt-idx="5" tabindex="0">5</a><a class="paginate_button " aria-controls="dataTable" data-dt-idx="6" tabindex="0">6</a></span><a class="paginate_button next" aria-controls="dataTable" data-dt-idx="7" tabindex="0" id="dataTable_next">Next</a></div>
</div>