<h2><%= t(:title, :project => @project.name, :scope => :notification_settings ) %></h2>

<div class="alert alert-info">
  <%= t(:info_message, :scope => :notification_settings).html_safe %>
</div>

<div id="dataTable_wrapper" class="dataTables_wrapper">
  <div class="dataTables_length" id="dataTable_length">

    <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <br/></br>
  </div>

  <table id="dataTable" class="table" cellspacing="0" width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <thead>
    <tr role="row">
      <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 10%;"><%= t(:type, :scope => :notification_settings ) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 20%;"><%= t(:workspace, :scope => :notification_settings ) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 30%;"><%= t(:phone_slack_email, :scope => :notification_settings ) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 20%;"><%= t(:alert, :scope => :notification_settings ) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 10%;"></th>
    </tr>
    </thead>
    <tbody>
    <% @alert_settings.each do |alert_setting| %>
      <tr role="row" class="odd">
        <% if alert_setting.alertable.is_a? Authorization %>
          <td><%= alert_setting.alertable.decorate.name_display %></td>
          <td><%= alert_setting.alertable.name %></td>
          <td><%= alert_setting.slack_email %></td>
          <td><%= alert_setting.alert_display %></td>

        <% elsif alert_setting.alertable.is_a? Contact %>
          <td><%= alert_setting.alertable.type %></td>
          <td></td>
          <td><%= alert_setting.alertable.value %></td>
          <td><%= alert_setting.alert_display %></td>
        <% end %>

        <td><%= link_to t(:edit), edit_project_alert_setting_path(@project, alert_setting),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' } %></td>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>