<div id="dataTable_wrapper" class="dataTables_wrapper">
  <div class="dataTables_length" id="dataTable_length">
    <%= link_to t(:new), new_project_article_path, class: 'btn btn-primary' %>
    <br/><br/>
  </div>

  <div id="dataTable_filter" class="dataTables_filter">
    <%= bootstrap_form_for :search_articles, url: project_articles_path(@current_project), method: :get do |f| %>
      <%= f.text_field :query, label: t(:search) %>
    <% end %>
  </div>
  <br/>

  <table id="dataTable" class="table" cellspacing="0" width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <thead>
    <tr role="row">
      <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 40%;"><%= t(:title, :scope => :knowledge_base) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 24%;"><%= t(:author, :scope => :knowledge_base) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 18%;"><%= t(:created) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 18%;"><%= t(:updated) %></th>
    </tr>
    </thead>
    <tbody>

    <% @articles.each do |article| %>
      <tr role="row" class="odd">
        <td class="sorting_1">
          <%= link_to article.title, project_article_path(@current_project, article) %>
        </td>
        <td><%= article.user.full_name_link(@project) %></td>
        <td><%= article.created_at_short_display %></td>
        <td><%= article.updated_at_short_display %></td>
      </tr>
    <% end %>

    </tbody>
  </table>

  <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
    <%= paginate @articles %>
  </div>
</div>