<%= link_to t(:edit), edit_project_article_path(@current_project, @article), class: 'btn btn-primary' %>
<%= link_to t(:delete), project_article_path(@current_project, @article), :method => 'delete', class: 'btn btn-danger', data: {confirm: t(:delete_message, :title => @article.title, :scope => :article)} %>

<h3><%= @article.title %></h3>
<%= @article.content %>

<br/>
<br/>

<% @article.attachments.each do |attachment| %>
  <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
<% end %>

<br/><br/>
<div class="w-50">
  <%= bootstrap_form_for @comment_form, :url => project_article_comments_path(@project, @article), :layout => :vertical do |f| %>
    <%= f.text_area :content, :label => t(:comment) %>
    <%= submit_tag t(:submit), :class => 'btn btn-success' %>
  <% end %>
</div>

<% @article.comments.each do |comment| %>
  <%= comment.content %>

  <span class="icon-holder">
    <%= link_to article_comment_path(@article, comment), :method => 'delete' do %>
      <i class="ti-trash"></i>
    <% end %>
  </span>

<% end %>
