<%= link_to 'Delete', project_article_path(@project, @article), :method => 'delete', class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete the article #{@article.title}?"} %>

<h3><%= @article.title %></h3>
<%= @article.content %>

<br/>
<br/>

<% @article.attachments.each do |attachment| %>
  <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
<% end %>

<br/><br/>
<%= bootstrap_form_for @comment_form, :url => project_article_comments_path(@project, @article) do |f| %>
  <%= f.text_area :content, :label => 'Comment' %>
  <%= submit_tag t(:submit), :class => 'btn btn-success' %>
<% end %>

<% @article.comments.each do |comment| %>
  <%= comment.content %>

  <span class="icon-holder">
    <%= link_to project_article_comment_path(@project, @article, comment), :method => 'delete', data: {confirm: "Are you sure you want to delete this comment?"} do %>
      <i class="ti-trash"></i>
    <% end %>
  </span>

<% end %>
