<h2><%= @article.title %></h2>

<div class="row">
  <div class="col-md-8">
    <%= link_to edit_project_article_path(@current_project, @article), class: 'btn btn-light border' do %>
      <i class="ti-pencil"> </i><%= t(:edit) %>
    <% end %>

    <%= link_to t(:delete), project_article_path(@current_project, @article), :method => 'delete', class: 'btn btn-light border', data: {confirm: t(:delete_message, :scope => :article)} %>

    <div class="mt-4">
      <%= @article.content %>
    </div>

    <%= render partial: 'shared/attachments', locals: {attachable: @article} %>

    <%= render partial: 'shared/comments', locals: {commentable: @article} %>

  </div>

  <div class="col-md-4">
    <label><%= t(:author, :scope => :knowledge_base) %>: </label>
    <span class='text-primary'><%= @article.user.full_name %></span><br/>
    <label class="mt-3"><%= t(:created_at) %>: </label>
    <%= @article.created_at_display %><br/>
    <label><%= t(:updated_at) %>: </label>
    <%= @article.updated_at_display %><br/>
  </div>
</div>

