<div class="row">

  <% if @user.profile_image.attached? %>
    <div class="col-md-3">
      <%= @user.profile_image_display('200x200') %>
    </div>
  <% end %>

  <div class="col-md-9">
    <h2><%= @user.full_name %></h2>
    <div>
      <label><%= t(:title, :scope => :user) %></label>: <%= @user.title %>
    </div>

    <br/>

    <% @user.contacts.each do |contact| %>
      <div>
        <label><%= t(contact.type.snakify.to_sym, :scope => :contact) %></label>: <%= contact.value %>
      </div>
    <% end %>
  </div>
</div>