<div id="dataTable_wrapper" class="dataTables_wrapper">
  <% if can?(:create, Schedule.new(project: @project)) && @project.schedules.size.zero? %>
    <div class="dataTables_length" id="dataTable_length">
      <%= link_to t(:new), new_project_schedule_path(@project), class: 'btn btn-primary' %>
      <br/><br/>
    </div>
  <% end %>

  <table id="dataTable" class="table" cellspacing="0" width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <thead>
    <tr role="row">
      <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 25%;"><%= t(:name, :scope => :schedule) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 25%;"><%= t(:currently_scheduled, :scope => :schedule) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 20%;"><%= t(:rotate_users, :scope => :schedule) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 20%;"><%= t(:start, :scope => :schedule) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 10%;"></th>
    </tr>
    </thead>
    <tbody>

    <% @schedules.each do |schedule| %>
      <tr role="row" class="odd">
        <td class="sorting_1">
          <%= link_to schedule.name, project_schedule_path(@current_project, schedule) %>
        </td>
        <td><%= schedule.try(:occurrence_user_calendar, schedule.occurrence_index).try(:decorate).try(:full_name_link, @project) %></td>
        <td><%= t(schedule.decorate.interval_unit_display, :scope => [:schedule, :interval_unit]) %></td>
        <td><%= schedule.decorate.start_datetime %></td>
        <td>
          <% if can? :update, schedule %>
            <%= link_to t(:edit), edit_project_schedule_path(@project, schedule) %>
          <% end %>
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>
</div>