<h2><%= t(:title, :scope => [:schedule, :create]) %></h2>

<%= bootstrap_form_for @form, :url => project_schedules_path(@current_project), label_col: 'col-sm-4' do |f| %>

    <div class="row schedule-container">
      <div class="col-md-6 vertical-divider">
        <%= f.text_field :name, :label_class => 'required' %>
        <br/>

        <%= f.fields_for :schedule_attributes do |schedule_attributes| %>
          <%= schedule_attributes.select :interval_unit, options_for_select(Schedule::INTERVAL_UNIT.map { |s| [ t(s, :scope => [:schedule, :interval_unit]), s ] }), { :include_blank => true, :label => t(:rotate_users, :scope => :schedule), :label_class => 'required' }, { :control_class => 'form-control js-interval-unit' } %>

          <br/>

          <div class="form-group row">
            <label class="required col-form-label col-sm-4"><%= t(:start, :scope => :schedule) %></label>
            <div class="input-group date col-md-7" id="start_date" data-target-input="nearest">
              <input name="create_schedule_form[schedule_attributes][start_date]" type="text" value="<%= @form.schedule.decorate.start_datetime %>" class="form-control datetimepicker-input" data-target="#start_date"/>
              <div class="input-group-append" data-target="#start_date" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-sm-4"><%= t(:end, :scope => :schedule) %></label>
            <div class="input-group date col-md-7" id="end_time" data-target-input="nearest">
              <input name="create_schedule_form[schedule_attributes][end_time]"  type="text" value="<%= @form.schedule.schedule_attributes.end_time %>" class="form-control datetimepicker-input" data-target="#end_time"/>
              <div class="input-group-append" data-target="#end_time" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
          </div>
        <% end %>

        <%= submit_button %>

      </div>

      <div class="col-md-6">
        <!--      @current_project.users.object.confirmed-->
        <%= f.select :select_user, options_for_select(User.all.map { |u| [u.decorate.full_name, u.id] }), { label: t(:select_users, :scope => :schedule), :label_class => 'required', :include_blank => true }, :class => 'js-select-users' %>

        <div id="users">
        </div>
      </div>
    </div>
  <% end %>