<h2><%= t(:title, :scope => [:schedule, :create]) %></h2>

<%= bootstrap_form_for @form, :url => project_schedules_path(@current_project) do |f| %>
  <%= f.text_field :name, :label_class => 'required' %>
  <%= f.select :frequency, options_for_select(Schedule.frequencies.keys.map { |s| [ t(s, :scope => [:schedule, :frequencies]), s ] }), :label_class => 'required' %>
  <%= f.datetime_select :start, :order => [:hour, :minute, :day, :month, :year], :label_class => 'required' %>
  <%= f.datetime_select :end, :order => [:hour, :minute, :day, :month, :year] %>

  <% @current_project.users.object.confirmed.each do |user| %>
    <%= label_tag "#{user.decorate.full_name}" %>
    <%= text_field_tag "create_schedule_form[users][#{user.id}]" %><br/>
  <% end %>

  <%= submit_button %>
<% end %>