<div id="dataTable_wrapper" class="dataTables_wrapper">
  <div id="dataTable_filter" class="dataTables_filter">
  <%= bootstrap_form_for :search_tickets, url: project_tickets_path(@project), method: :get do |f| %>
    <%= f.text_field :query, label: t(:search) %>
  <% end %>
  </div>
  <br/>

  <table id="dataTable" class="table" cellspacing="0" width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <thead>
    <tr role="row">
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 10%;"><%= t(:priority, :scope => :ticket) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 10%;"><%= t(:id, :scope => :ticket) %></th>
      <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 31%;"><%= t(:title, :scope => :ticket) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 13%;"><%= t(:status, :scope => :ticket) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 24%;"><%= t(:assignee, :scope => :ticket) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 12%;"><%= t(:created) %></th>
    </tr>
    </thead>
    <tbody>

      <% @tickets.each do |ticket| %>
        <tr role="row" class="odd">
          <td><%= ticket.priority_button %></td>
          <td class="sorting_1">
            <%= link_to ticket.slug, project_ticket_path(@current_project, ticket) %>
          </td>
          <td class="sorting_1">
            <%= link_to ticket.title, project_ticket_path(@current_project, ticket) %>
          </td>
          <td><%= ticket.status_display %></td>
          <td><%= ticket.try(:assignee).try(:full_name_link, @project) %> <%= ticket.viewed_by_assignee_icon %></td>
          <td><%= ticket.created_at_short_display %></td>
        </tr>
      <% end %>

    </tbody>
  </table>

  <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
    <%= paginate @tickets %>
  </div>
</div>