<h2><h2><%= t(:title, :scope => [:ticket, :create]) %></h2></h2>

<%= bootstrap_form_for @form, :url => project_tickets_path(@current_project) do |f| %>
  <%= f.text_field :title, :label_class => 'required' %>
  <%= f.select :assignee_id, options_for_select(@current_project.users.map { |u| [ u.ticket_assignee_select_value(@project), u.id ] }, :selected => @project.on_call_user.try(:id)), {help: @form.assignee_help_text, :include_blank => true} %>
  <%= f.select :priority, options_for_select(Ticket.priorities.keys.map { |p| [t(p, :scope => [:ticket, :priorities]), p] }), :include_blank => true, :label_class => 'required' %>
  <%= f.select :status, options_for_select(Ticket.statuses.keys.map { |p| [t(p, :scope => [:ticket, :statuses]), p] }), :include_blank => true, :label_class => 'required' %>

  <div class="form-group row">
    <%= f.label :description, :class => 'col-sm-2 required' %>
    <div class='col-sm-7'>
      <%= f.rich_text_area :content %>
    </div>
  </div>

  <br/>

  <%= f.file_field :attachments, multiple: true %>

  <%= submit_tag t(:submit), :class => 'btn btn-success' %>
<% end %>