<h3><%= @ticket.title %></h3>

<div class="row">

  <div class="col-md-8">

    <%= link_to edit_project_ticket_path(@current_project, @ticket), class: 'btn btn-light border' do %>
      <i class="ti-pencil"> </i><%= t(:edit) %>
    <% end %>

    <%= @ticket.previous_status_button %>
    <%= @ticket.next_status_button %>

    <div class="mt-4">
      <label><%= t(:priority, :scope => :ticket) %></label>: <%= @ticket.priority_display %></br>
      <label><%= t(:status, :scope => :ticket) %></label>: <%= @ticket.status_display %></br>

      <hr/>

      <div class="font-weight-bold"><%= t(:description, :scope => :ticket) %>:</div>
      <%= @ticket.content %>
    </div>

    <% if @ticket.attachments.present? %>
      <br/><br/>
      <div class="font-weight-bold"><%= t(:attachments) %>:</div>

      <% @ticket.attachments.each do |attachment| %>
        <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment"), :class => 'mr-3' %>
      <% end %>
    <% end %>

    <br/><br/>

    <% if @ticket.comments.present? %>
      <div class="font-weight-bold mb-3"><%= t(:comments) %>:</div>

      <% @ticket.comments.each do |comment| %>
        <div>
        <span class="icon-holder float-right">
          <%= link_to project_ticket_comment_path(@project, @ticket, comment), :method => 'delete' do %>
            <%=  content_tag(:i, '', class: 'ti-trash') %>
          <% end %>
        </span>

          <%= t(:user_added_a_comment_on_date, :user => comment.user.full_name, :date_time => comment.created_at_display).html_safe %>
          <br/><br/>
          <%= comment.content %>

        </div>
        <% unless comment == @ticket.comments.last %>
          <hr/>
        <% end %>
      <% end %>
    <% end %>

    <div class="mt-3">
      <%= bootstrap_form_for @comment_form, :url => project_ticket_comments_path(@current_project, @ticket), :layout => :vertical do |f| %>
        <%= f.text_area :content, :rows => 4, :hide_label => true %>
        <%= button_tag(type: "submit", :class => 'btn btn-light border') do %>
          <i class="ti-comment"> </i><%= t(:comment) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <label><%= t(:assignee, :scope => :ticket) %>: </label>
    <span class='text-primary'><%= @ticket.assignee.full_name %></span><br/>
    <label><%= t(:reporter, :scope => :ticket) %>: </label>
    <span class='text-primary'><%= @ticket.created_by.full_name %></span><br/>
    <label class="mt-3"><%= t(:created_at) %>: </label>
    <%= @ticket.created_at_display %><br/>
    <label><%= t(:updated_at) %>: </label>
    <%= @ticket.updated_at_display %><br/>
  </div>
</div>