<%= bootstrap_form_for @form, :url => contact_path, :method => :put, :remote => true do |f| %>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel"><%= t(:title, :scope => [:contact, :edit]) %></h4>
    <button type="button" class="close" data-dismiss="modal">x</button>
  </div>

  <div class="modal-body">
    <%= f.select :type, options_for_select(Contact.descendants.map { |c| [t(c.name.snakify.to_sym, :scope => :contact), c.name]} ), :label_class => 'required' %>
    <%= f.text_field :value, :label_class => 'required', help: t(:phone_help_text, :scope => :contact) %>
    <%= f.select :alerts, options_for_select(AlertSetting::ALERTS.map { |p| [t(p, :scope => [:notification_settings, :alerts]), p] }), :label_class => 'required', help: t(:alert_help_text, :scope => :contact) %>
  </div>

  <div class="modal-footer">
    <%= link_to t(:delete), contact_path(@contact), :method => 'delete', class: 'btn btn-outline-dark', data: {confirm: t(:delete_message, :scope => :contact)} %>
  <%= submit_button %>
  </div>
<% end %>
