<%= bootstrap_form_for @form, :url => contacts_path, :remote => true do |f| %>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel"><%= t(:title, :scope => [:contact, :create]) %></h4>
    <button type="button" class="close" data-dismiss="modal">x</button>
  </div>

  <div class="modal-body">
    <%= f.select :type, options_for_select(Contact.descendants.map { |c| [t(c.name.snakify.to_sym, :scope => :contact), c.name]} ), :label_class => 'required', :include_blank => true %>
    <%= f.text_field :value, :label_class => 'required', help: t(:phone_help_text, :scope => :contact) %>
    <%= f.select :alerts, options_for_select(AlertSetting::ALERTS.map { |p| [t(p, :scope => [:notification_settings, :alerts]), p] }), :label_class => 'required', :label_class => 'required', help: t(:alert_help_text, :scope => :contact), :include_blank => true  %>

  </div>

  <div class="modal-footer">
    <%= submit_button %>
  </div>
<% end %>
