<h2><%= t(:title, :scope => [:contact, :index]) %></h2>

<div id="dataTable_wrapper" class="dataTables_wrapper">
  <div class="dataTables_length" id="dataTable_length">
    <%= link_to t(:new), new_contact_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary'}  %>
    <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <br/></br>
  </div>

  <table id="dataTable" class="table" cellspacing="0" width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <thead>
    <tr role="row">
      <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 50%;"><%= t(:type, :scope => :contact) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 50%;"><%= t(:value, :scope => :contact) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 10%"></th>

    </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr role="row" class="odd">
          <td><%= link_to contact.decorate.type_display, edit_contact_path(contact),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' } %></td>
          <td><%= contact.value %></td>
          <td>
            <span class="icon-holder">
              <%= link_to t(:edit), edit_contact_path(contact),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' } %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>