<h2 class="mb-4"><%= t(:title, :scope => [:project, :edit]) %></h2>

<%= bootstrap_form_for @form, :url => project_path(@project), :method => :put do |f| %>
  <%= f.text_field :name, :label_class => 'required' %>
  <%= f.text_field :key, :class => 'col-sm-3', help: t(:key_help, :scope => :project).html_safe, disabled: true %>

  <% if @project.slack_authorization.nil? %>
    <a href=<%= @slack_redirect_url %>><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
  <% end %>

  <%= submit_button %>
<% end %>
