<h2><%= t(:title, :scope => [:project, :edit]) %></h2>

<%= bootstrap_form_for @form, :url => project_path(@project), :method => :put do |f| %>
  <%= f.text_field :name, :label_class => 'required' %>
  <%= f.text_field :key, :class => 'col-sm-3' %>

  <% if @project.slack_authorization.nil? %>
    <a href="https://slack.com/oauth/v2/authorize?scope=incoming-webhook,commands,users:read,channels:join,channels:manage&client_id=1423806287889.1435611370784&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fslack_auth%2Fcallback%3Fproject_id%3D<%= @project.id %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
  <% end %>

  <%= submit_tag t(:submit), :class => 'btn btn-success' %>
<% end %>
