<h2 class="mb-4"><%= t(:title, :scope => [:project, :edit]) %></h2>

<% if @project.slack_authorization.nil? %>
  <div class="alert alert-info">
    <%= t(:info_message_line_1, :scope => [:welcome_wizard, :slack]).html_safe %><br/>
    <%= t(:info_message_line_2, :scope => [:welcome_wizard, :slack]).html_safe %>
  </div>
<% end %>

<%= bootstrap_form_for @form, :url => project_path(@project), :method => :put, control_col: 'col-sm-5' do |f| %>
  <%= f.text_field :name, :label_class => 'required' %>
  <%= f.text_field :key, :class => 'col-sm-3', help: t(:key_help, :scope => :project).html_safe, disabled: true %>

  <% if @project.slack_authorization.nil? %>
    <%= link_to t(:connect_to_slack), @slack_redirect_url, class: 'btn btn-light border' %>
  <% end %>

  <%= submit_button %>
<% end %>
