<h2 class="mb-4"><%= t(:title, :scope => [:project, :create]) %></h2>

<%= bootstrap_form_for @form, :url => projects_path do |f| %>
  <%= f.text_field :name, :label_class => 'required' %>
  <%= f.text_field :key, :class => 'col-sm-3', help: t(:key_help, :scope => :project).html_safe %>
  <%= submit_button %>
<% end %>
