<div id="dataTable_wrapper" class="dataTables_wrapper">
  <div class="dataTables_length" id="dataTable_length">

    <%= link_to 'Permission User', new_project_project_user_path(@project),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary'}  %>
    <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

    <br/><br/>

<!--    <label>-->
<!--      Show-->
<!--      <select name="dataTable_length" aria-controls="dataTable" class="">-->
<!--        <option value="10">10</option>-->
<!--        <option value="25">25</option>-->
<!--        <option value="50">50</option>-->
<!--        <option value="100">100</option>-->
<!--      </select>-->
<!--      entries-->
<!--    </label>-->

  </div>
  <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="dataTable"></label></div>
  <table id="dataTable" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <thead>
    <tr role="row">
      <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 30%">Name</th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 30%">Email</th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 15%">Work Phone</th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 15%">Cellphone</th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 10%"></th>
    </tr>
    </thead>
    <tbody>

    <% @project_users.each do |project_user| %>
      <tr role="row" class="odd">
        <td class="sorting_1">
          <%= project_user.user.full_name %>
          <%= project_user.user.confirmation_state %>
        </td>
        <td><%= project_user.user.email %></td>
        <td><%= project_user.user.work_phone %></td>
        <td><%= project_user.user.cell_phone %></td>
        <td>
          <span class="icon-holder">
            <%= link_to project_project_user_path(@project, project_user), :method => 'delete', data: {confirm: "Are you sure you want to remove #{project_user.user.full_name} from the #{project_user.project.name} project?"} do %>
              <i class="ti-trash"></i>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>
  <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
  <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><a class="paginate_button previous disabled" aria-controls="dataTable" data-dt-idx="0" tabindex="0" id="dataTable_previous">Previous</a><span><a class="paginate_button current" aria-controls="dataTable" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="dataTable" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="dataTable" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="dataTable" data-dt-idx="4" tabindex="0">4</a><a class="paginate_button " aria-controls="dataTable" data-dt-idx="5" tabindex="0">5</a><a class="paginate_button " aria-controls="dataTable" data-dt-idx="6" tabindex="0">6</a></span><a class="paginate_button next" aria-controls="dataTable" data-dt-idx="7" tabindex="0" id="dataTable_next">Next</a></div>
</div>