<div id="dataTable_wrapper" class="dataTables_wrapper">

  <% if can? :create, ProjectUser.new(project: @project) %>
    <%= link_to t(:permission_user, :scope => :permission_user), new_project_project_user_path(@project),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary'}  %>
    <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

    <br/><br/>
  <% end %>

  <table id="dataTable" class="table" cellspacing="0" width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <thead>
    <tr role="row">
      <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 35%"><%= t(:name, :scope => :permission_user) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 35%"><%= t(:email, :scope => :permission_user) %></th>
      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 20%"><%= t(:administrator, :scope => :permission_user) %></th>
      <% if can? :create, ProjectUser.new(project: @project) %>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 10%"></th>
      <% end %>
    </tr>
    </thead>
    <tbody>

    <% @project_users.each do |project_user| %>
      <tr role="row" class="odd">
        <td class="sorting_1">
          <%= project_user.user.full_name_link(@project) %>
          <%= project_user.user.confirmation_state %>
        </td>
        <td><%= project_user.user.email %></td>
        <td><%= project_user.admin_display %></td>

        <% if can? :create, ProjectUser.new(project: @project) %>
          <td>
              <%= link_to t(:edit), edit_project_project_user_path(@project, project_user),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' } %>
          </td>
        <% end %>
      </tr>
    <% end %>

    </tbody>
  </table>

  <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
    <%= paginate @project_users %>
  </div>
</div>