<h2><%= t("devise.invitations.new.header") %></h2>

<div class="alert alert-info">
  <%= t(:info_message, :scope => [:welcome_wizard, :invite]).html_safe %>
</div>


<%= bootstrap_form_for @form, :url => wizard_path, :method => :put do |f| %>

  <div class="field">
    <%= f.text_field :first_name, :label_class => 'required' %>
  </div>

  <div class="field">
    <%= f.text_field :last_name, :label_class => 'required' %>
  </div>

  <div class="field">
    <%= f.text_field :email, :label_class => 'required' %>
  </div>

  <div class="actions text-right">
    <%= wizard_back_button %>
    <%= wizard_next_button %>
  </div>

<% end %>
