<h2>Invite Team Members</h2>

<%= bootstrap_form_for @form, :url => wizard_path, :method => :put do |f| %>
  <%= render "devise/shared/error_messages", resource: @form %>

  <div class="field">
    <%= f.text_field :first_name, :label_class => 'required' %>
  </div>

  <div class="field">
    <%= f.text_field :last_name, :label_class => 'required' %>
  </div>

  <div class="field">
    <%= f.text_field :email, :label_class => 'required' %>
  </div>

  <h4>Projects</h4>

  <%= f.collection_check_boxes :project_ids, @projects, :id, :name, { :label_class => 'required', custom: true } %>

  <div class="actions">
    <%= f.submit t(:next, :scope => :welcome_wizard), :class => 'btn btn-success' %>
  </div>

  <%= link_to 'Back', previous_wizard_path %>

<% end %>
