<h2><%= t("devise.invitations.new.header") %></h2>

<div class="alert alert-info">
  <%= t(:info_message, :scope => [:welcome_wizard, :invite]).html_safe %>
</div>


<%= bootstrap_form_for @form, :url => wizard_path, :method => :put do |f| %>

  <div class="field">
    <%= f.text_field :first_name, :label_class => 'required' %>
  </div>

  <div class="field">
    <%= f.text_field :last_name, :label_class => 'required' %>
  </div>

  <div class="field">
    <%= f.text_field :email, :label_class => 'required' %>
  </div>

  <div class="actions text-right">
    <%= link_to t(:back, :scope => :welcome_wizard), previous_wizard_path, :class => 'btn btn-outline-dark' %>
    <%= f.submit t(:next, :scope => :welcome_wizard), :class => 'btn btn-success' %>
  </div>

<% end %>
