<h2><%= t(:title, :scope => [:welcome_wizard, :project]) %></h2>

<div class="alert alert-info">
  <%= t(:info_message, :scope => [:welcome_wizard, :project]).html_safe %>
</div>


<%= bootstrap_form_for @form, :url => wizard_path, :method => :put do |f| %>
  <%= f.text_field :name, :label_class => 'required' %>
  <%= f.text_field :key, :label => 'Abbreviation', :class => 'col-sm-3' %>
  <div class="text-right">
    <%= next_button %>
  </div>
<% end %>
