<h2><%= t(:title, :scope => [:welcome_wizard, :slack]) %></h2>

<div class="alert alert-info">
  <%= t(:info_message_line_1, :scope => [:welcome_wizard, :slack]).html_safe %>
  <%= t(:info_message_line_2, :scope => [:welcome_wizard, :slack]).html_safe %>
</div>

<br/><br/>

<div align="center">
  <% if @project.slack_authorization.nil? %>
    <%= link_to t(:connect_to_slack), "#{@slack_redirect_url}%26welcome%3D1", class: 'btn-lg btn-info' %>
  <% end %>
</div>

<br/><br/>

<div class="text-right">
  <%= wizard_back_button %>
  <%= link_to t(:finish, :scope => :welcome_wizard), root_path, class: 'btn btn-success' %>
</div>