<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CoderAlert</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

<!--    <p class="float-right">-->
<%# if user_signed_in? %>
<!--        Logged in as <strong><%#= current_user.email %></strong>.-->
<!--        <%#= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |-->
<%#= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<%# else %>
<!--        <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |-->
<%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<%# end %>
<!--    </p>-->


  <body class="app is-collapsed">

    <!-- @App Content -->
    <!-- =================================================== -->
    <div>
      <!-- #Left Sidebar ==================== -->
      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="index.html">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">
                        <img src="assets/static/images/logo.png" alt="">
                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h5 class="lh-1 mB-0 logo-text">CoderAlert</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/">
                    <span class="icon-holder">
                      <i class="c-blue-500 ti-home"></i>
                    </span>
                <span class="title">Dashboard</span>
              </a>
            </li>

            <li class="nav-item">
              <%= link_to project_tickets_path(@current_project) do %>
                <span class="icon-holder">
                  <i class="c-orange-500 ti-ticket"></i>
                </span>
                <span class="title">Tickets</span>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to project_project_users_path(@current_project) do %>
                <span class="icon-holder">
                  <i class="c-brown-500 ti-user"></i>
                </span>
                <span class="title">Team</span>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to project_articles_path(@current_project) do %>
                <span class="icon-holder">
                  <i class="c-green-500 ti-book"></i>
                </span>
                <span class="title">Knowledge Base</span>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to project_schedules_path(@current_project) do %>
                <span class="icon-holder">
                  <i class="c-orange-500 ti-calendar"></i>
                </span>
                <span class="title">Schedule</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <!-- #Main ============================ -->
      <div class="page-container">
        <!-- ### $Topbar ### -->
        <div class="header navbar">
          <div class="header-container">
            <ul class="nav-left">
              <li class="dropdown">
                <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                  <div class="peer">
                    <i class="ti-ruler-pencil c-blue-500"></i>
                    <span class="title">Projects (<%= @current_project.name %>)</span>
                  </div>
                </a>
                <ul class="dropdown-menu fsz-sm">
                  <% @projects.each do |p| %>
                    <li>
                      <%= link_to active_project_path(:id => p.id), :method => :put, class: 'd-b td-n pY-5 bgcH-grey-100 c-grey-700' do %>
                        <span><%= p.name %></span>
                      <% end %>
                    </li>
                  <% end %>

                  <li role="separator" class="divider"></li>

                  <li>
                    <%= link_to new_project_path, class: 'd-b td-n pY-5 bgcH-grey-100 c-grey-700' do %>
                      <i class="ti-plus mR-10"></i>
                      <span>New Project</span>
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>

            <ul class="nav-right">
              <li class="dropdown">
                <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                  <div class="peer mR-10">
                    <% if current_user.profile_image.attached? %>
                      <%= image_tag current_user.profile_image.variant(resize: '32x32>') %>
                    <% end %>
                  </div>
                  <div class="peer">
                    <span class="title">Welcome! <%= current_user.first_name %></span>
                  </div>
                </a>
                <ul class="dropdown-menu fsz-sm">
                  <li>
                    <%= link_to edit_user_registration_path, class: 'd-b td-n pY-5 bgcH-grey-100 c-grey-700' do %>
                      <i class="ti-settings mR-10"></i>
                      <span>Account Settings</span>
                    <% end %>
                  </li>

                  <li>
                    <%= link_to contacts_path, class: 'd-b td-n pY-5 bgcH-grey-100 c-grey-700' do %>
                      <i class="ti-email mR-10"></i>
                      <span>Contact Info</span>
                    <% end %>
                  </li>

                  <li>
                    <%= link_to project_alert_settings_path(@current_project), class: 'd-b td-n pY-5 bgcH-grey-100 c-grey-700' do %>
                      <i class="ti-bell mR-10"></i>
                      <span>Notification Settings</span>
                    <% end %>
                  </li>

                  <li role="separator" class="divider"></li>
                  <li>
                    <%= link_to destroy_user_session_path, class: 'd-b td-n pY-5 bgcH-grey-100 c-grey-700', method: :delete do %>
                      <i class="ti-power-off mR-10"></i>
                        <span>Logout</span>
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <!-- ### $App Screen Content ### -->
        <main class='main-content bgc-grey-100'>
          <div id='mainContent'>
            <div class="row gap-20 masonry pos-r">
              <div class="masonry-item col-12">
                <div class="<%= 'bgc-white p-20 bd' unless current_page? root_path %>">
                  <% if notice %>
                    <p class="alert alert-success"><%= notice %></p>
                  <% end %>
                  <% if alert %>
                    <p class="alert alert-danger"><%= alert %></p>
                  <% end %>
                    <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </main>

        <!-- ### $App Screen Footer ### -->
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
          <span>Copyright © 2020 CoderAlert. All rights reserved.</span>
        </footer>
      </div>
    </div>
  </body>
</html>
