<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>CoderAlert</title>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="app is-collapsed">

<!-- @App Content -->
<!-- =================================================== -->
<div>
  <!-- ### $Topbar ### -->
  <div class="header navbar w-100">
    <div class="header-container">
      <div class="nav-left">
        <h5 class="mt-3 text-primary">CoderAlert</h5>
      </div>
    </div>
  </div>

  <!-- ### $App Screen Content ### -->
  <main class='main-content bgc-grey-200'>
    <div class="row">
        <div class="<%= 'bgc-white w-50 p-20 bd mx-auto' %>">
          <% if notice %>
            <p class="alert alert-success"><%= notice.html_safe %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert.html_safe %></p>
          <% end %>

          <%= yield %>
        </div>
    </div>
  </main>

  <!-- ### $App Screen Footer ### -->
  <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
    <span><%= t(:copyright, :scope => :footer) %></span>
  </footer>
</div>
</body>
</html>